<div class="table-responsive">
    <table class="table table-borderless table-hover table-sm">
        <thead>
            <tr class="table-primary">
                <th>id</th>
                <th>Name</th>
                <th>Nit</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Owner</th>
                <th>Schedule</th>
                <th>Days</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Commerces">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.nit }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.owner }}</td>
                <td>{{ item.schedule }}</td>
                <td>{{ item.days }}</td>
                <td>{{ item.sales }}</td>
            </tr>
        </tbody>
    </table>
</div>
